{%extends 'index.html'%}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">User-Add</h1>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-2">
                    <form action="{% url 'user-add' %}" method="POST" >
                        {% csrf_token %}
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                            <tr>
                                                <th style="width: 5%;">Name :</th>
                                                <td>
                                                   <input type="text" name="name" class="form-control" placeholder="Name">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Group :</th>
                                                <td>
                                                    <select name="group"  class="form-control" required>
                                                        <option value="">--Select group--</option>
                                                        <option value="full">full</option>
                                                        <option value="read">read</option>
                                                        <option value="write">write</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 5%;">Password :</th>
                                                <td>
                                                   <input type="text" name="password" class="form-control" placeholder="password">
                                                </td>
                                            </tr>
                                    </table>
                                    <div class="text-right">
                                        <button type="submit" class="btn mb-1 mt-3 text-light" style="background-color: rgb(25, 135, 84);border-radius: 5px;" >Save</button>
                                    <a href="{% url 'user-list' %}" class="btn btn-dark mb-1 mt-3 " style="border-radius: 5px;">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}