{%extends 'index.html'%}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">VLAN-Edit</h1>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-2">
                    <form action="{% url 'vlan-edit' vlanedit.id %}" method="POST" >
                        {% csrf_token %}
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                            <tr>
                                                <th style="width: 5%;">NAME VLAN :</th>
                                                <td>
                                                    <input type="text" name="vlanid" value="{{vlanedit.vlanid}}" hidden>
                                                    <input type="text" name="vlan_name" value="{{vlanedit.vlan_name}}" class="form-control" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>VLAN ID :</th>
                                                <td><input type="text" name="vlan_id" value="{{vlanedit.vlan_id}}" class="form-control" required></td>
                                            </tr>
                                            <tr>
                                                <th>Interface :</th>
                                                <td>
                                                <select name="interface" class="form-control" required>
                                                    <option value="">--select interface--</option>
                                                    {%for interface in interface %}
                                                    <option value="{{vlanedit.vlan_interface}}"{% if vlanedit.vlan_interface == interface.interface_name %} selected {%endif%} >{{interface.interface_name}}</option>
                                                    {%endfor%}
                                                </select>
                                                </td>
                                            </tr>
                                    </table>
                                    <div class="text-right">
                                        <button type="submit" class="btn mb-1 mt-3 text-light" style="background-color: rgb(25, 135, 84);border-radius: 5px;" >Save</button>
                                    <a href="{% url 'interface-list' %}" class="btn btn-dark mb-1 mt-3 " style="border-radius: 5px;">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
</div>
       
{% endblock %}