{%extends 'index.html'%}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Address-Edit</h1>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-2">
                    <form action="{% url 'address-edit' address.id %}" method="POST" >
                        {% csrf_token %}
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                            <tr>
                                                <th style="width: 5%;">IP Address :</th>
                                                <td>
                                                    <input type="text" name="address_id" value="{{address.address_id}}" hidden>
                                                   <input type="text" name="address" class="form-control" value="{{address.address}}" placeholder="192.xxx.xxx.xxx/xx" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Network :</th>
                                                <td>
                                                    <input type="text" name="network" class="form-control" value="{{address.network}}" placeholder=" 192.xxx.xx.0" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 5%;">Interface :</th>
                                                <td>
                                                    <select name="interface"  class="form-control" required>
                                                        <option value="">--Select Interface--</option>
                                                        {% for r in interface %}
                                                        <option value="{{r.interface_name}}"{% if address.interface == r.interface_name %} selected {%endif%}>{{r.interface_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                    </table>
                                    <div class="text-right">
                                        <button type="submit" class="btn mb-1 mt-3 text-light" style="background-color: rgb(25, 135, 84);border-radius: 5px;" >Save</button>
                                    <a href="{% url 'address-list' %}" class="btn btn-dark mb-1 mt-3 " style="border-radius: 5px;">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}